<div class="left_menu" style="width:200px;">
    <ul >
        <li><a href="/admin/dashboard">>>Home</a></li>
        <li><a href="/admin/users">>>Admin Users</a></li>
        <li><a href="/admin/category">>>Categories</a></li>
        <li><a href="/admin/subcategory">>>Sub Categories</a></li>
        <li><a href="#">>>Reports</a></li>
        <li><a href="#">>>Newsletter Subscribers</a></li>
        <li><a href="/admin/products">>>Products</a></li>
        <li><a href="#">>>Offers & Promotions</a></li>
        <li><a href="#">>>Orders</a></li>
        <li><a href="/admin/queries">>>Query</a></li>


    </ul>
</div>