<section class="col-lg-12 well">

    <asp:Panel ID="pnlUserInfo" runat="server" CssClass="col-lg-6">
        <asp:Label runat="server" ID="lblUser_Status" Text=""></asp:Label>
        <asp:LinkButton ID="btnLogout_ClicK" OnClick="btnLogout_Click" runat="server">( Logout )</asp:LinkButton>
    </asp:Panel>
    <asp:Panel runat="server" ID="pnlNonLogin">
        <a href="login.aspx" id="login_to_user">login </a>| <a href="index.aspx">create an account</a> |  <a href="#">Sell With KeepPaisa</a>
    </asp:Panel>

</section>