<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <% include ../views/partials/header.ejs %>
    <title>Admin Home : : ShopIndia</title>
</head>
<body>
<form id="form1" >
    <div class="container">
        <div class="row">
            <% include ../views/partials/nav.ejs %>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-lg-3">
                <% include ../views/partials/AdminAsideMenu.ejs %>
            </div>
        </div>



    </div>
</form>
</body>
</html>
