.pageBg
{
	background: #FFF;
}

.topBar
{
	background: #333;
	padding-bottom: 5px;
}

.header
{
	background: #F2F2F2 url(../images/headerblack.jpg) repeat-x;
	padding-top: 14px;
	padding-bottom: 14px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.container
{
	margin: 0 auto;
	width: 1024px;
	overflow: hidden;
}

body
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	
	height: 100%;
}

.searchBox
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	background: #FEFEFE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.contentBg
{
	width: 1000px;
	background: #FFF;
	margin-top: 10px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 25px;
}

.footer
{
	background-color: #2A2A2A;
	margin-top: 20px;
}

.blueBack
{
	background-color: #E1F0F5;
}

.roundBorder
{
	border: solid 1px #EEE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.anchorBlue11Arial
{
	font: normal 11px/16px Arial;
	color: #154A6F;
}
.anchorBlue11Arial a
{
	font: normal 11px/16px Arial;
	text-decoration: none;
	color: #154A6F;
}

.anchorBlue11Arial a:hover
{
	font: normal 11px/16px Arial;
	text-decoration: underline;
	color: #154A6F;
}

.anchorBlue12Arial
{
	font: normal 12px/18px Arial;
	color: #154A6F;
}
.anchorBlue12Arial a
{
	font: normal 12px/18px Arial;
	text-decoration: none;
	color: #154A6F;
}

.anchorBlue12Arial a:hover
{
	font: normal 12px/18px Arial;
	text-decoration: underline;
	color: #154A6F;
}

.anchorBlue13Arial
{
	font: normal 13px/18px Arial;
	color: #154A6F;
}
.anchorBlue13Arial a
{
	font: normal 13px/18px Arial;
	text-decoration: none;
	color: #154A6F;
}

.anchorBlue13Arial a:hover
{
	font: normal 13px/18px Arial;
	text-decoration: underline;
	color: #154A6F;
}

.blackText12
{
	font: normal 12px/18px arial;
	color: #333;
	text-align: justify;
	text-decoration: none;
}

.blackText13
{
	font: normal 13px/18px arial;
	color: #333;
	text-align: justify;
	text-decoration: none;
}

.whiteLink14
{
	font-size: 13px;
	color: #CCC;
}

.whiteLink14 a
{
	text-decoration: none;
	color: #CCC;
}

.whiteLink14 a:hover
{
	text-decoration: underline;
	color: #CCC;
}

.anchorBlue11Arial
{
	font: normal 11px Arial;
	color: #154A6F;
	text-decoration: none;
}
.anchorBlue11Arial a
{
	color: #154A6F;
	text-decoration: none;
}
.anchorBlue11Arial a:hover
{
	color: #154A6F;
	text-decoration: underline;
}

.bottomBorder
{
	border-bottom: solid 1px #EEE;
}

.footer
{
	background-color: #2A2A2A;
	margin-top: 30px;
}

.footerItem13
{
	font-size: 13px;
	color: #BBB;
}

.footerItem13 a
{
	text-decoration: none;
	color: #BBB;
}

.footerItem13 a:hover
{
	color: #BBB;
	text-decoration: underline;
}

.whiteLink11
{
	font-size: 11px;
	color: #DDD;
}

.whiteLink11 a
{
	font-size: 11px;
	text-decoration: none;
	color: #DDD;
}

.whiteLink11 a:hover
{
	font-size: 11px;
	color: #DDD;
	text-decoration: underline;
}

.textBox
{
	width: 200px;
	padding: 7px 7px;
	font-size: 13px;
	font-family: Arial;
	color: #444;
	border: 1px solid #E5E5E5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#FDFDFD), to(#FEFEFE));
	background-image: -moz-linear-gradient(0% 75% 90deg, #FEFEFE, #FDFDFD);
	background-color: #FEFEFE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.blackButton
{
	background: #252525;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	padding: 7px 12px 7px 12px;
	text-decoration: none;
	border: solid 1px #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 2px #999;
	-moz-box-shadow: 0 2px 2px #999;
	box-shadow: 0 2px 2px #999;
}

.mainHeading
{
	color: #444; 
	font-weight: bold;
	font-size: 18px;
	font-family: Arial;
}

.success
{
	border: 1px solid #4F8A10;
	color: #4F8A10;
	background-color: #DFF2BF;
	padding: 8px 30px 8px 30px;
	text-align: left;
	text-decoration: none;
}

.success a
{
	text-decoration: none;
}

.error
{
	border: 1px solid #4F8A10;
	color: #000;
	background-color: #FFBABA;
	padding: 8px 30px 8px 30px;
	text-align: center;
}
.errorAvail 
{
border: 1px solid #4F8A10;
	color: #000;
	background-color: #FFBABA;
	padding: 1px 10px 1px 10px;
	text-align: center;
}
.errorDiv
{
	float: left;
	width: 670px;
	padding: 15px;
}

.mainBorder
{
	border: solid 1px #EEE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.blackText11Arial
{
	font: 11px Arial;
	color: #666;
	text-decoration: none;
}

.listHeading
{
	color: #154A6F;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial;
}

.listHeading a
{
	font: normal 13px Arial;
	font-weight: bold;
	text-decoration: none;
	color: #154A6F;
}
.listHeading a:hover
{
	font: normal 13px Arial;
	font-weight: bold;
	text-decoration: underline;
	color: #154A6F;
}

.mainHeadingRed
{
	color: #DB581A;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial;
}


.mainHeadingRed a
{
	font: normal 18px Arial;
	text-decoration: none;
	color: #E76E34;
}

.mainHeadingRed a:hover
{
	font: normal 18px Arial;
	text-decoration: underline;
	color: #E76E34;
}


.red12Arial
{
	font: normal 12px Arial;
	color: #9F2D0D;
}


.itemtext
{
	font: normal 12px Arial;
	text-align: left;
	color: #111;
	line-height: 20px;
}



#cssmenu{ height:40px; display:block; padding:0; margin: 0;  border:1px solid; border-radius:5px; } 
#cssmenu > ul {list-style:inside none; padding:0; margin:0;} 
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#cssmenu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;} 
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;} 
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; } 
#cssmenu ul li > ul{width:200px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 


#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#333333; background:-moz-linear-gradient(top, #333333 0%, #222222 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); background:-webkit-linear-gradient(top, #333333 0%,#222222 100%); background:-o-linear-gradient(top, #333333 0%,#222222 100%); background:-ms-linear-gradient(top, #333333 0%,#222222 100%); background:linear-gradient(top, #333333 0%,#222222 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); } 
#cssmenu{border-color:#000;} 
#cssmenu > ul > li > a{border-right:1px solid #000; color:#fff;} 
#cssmenu > ul > li > a:after{border-color:#444;} 
#cssmenu > ul > li > a:hover{background:#111;}

#lightbox
{
	display: none;
	background: #000;
	filter: Alpha(Opacity=60);
	opacity: 0.6;
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: 1000;
}

#LightBox-Hide
{
	display: none;
	position: fixed;
	top: 100px;
	left: 350px;
	margin-left: -200px;
	width: 900px;
	background: #FFF;
	padding: 10px 15px 10px 15px;
	border: 2px solid #EEE;
	z-index: 1001;
}